<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Estoy probando <span class="small">{{que}}</span></h1>
                    <p>Esto deberia de: {{debeDe}}.</p>
                </div>
            </div>
        </div>
    </div>
</div>