<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background-color: rgb(230, 230, 230);">
    <!-- <div class="auth-box"> -->

    <!-- </div> -->
    <div class="card mt-3 text-center">
        <div class="card-body">
            <h1 class="card-title">Por favor CONFIRMA tu correo <br> electronico y espera a SER dado de ALTA</h1>
            <input class="form-control form-control-lg mb-3" type="number" placeholder="Codigo de validación" id=""
                name="">
            <a href="" class="btn btn-lg btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">Validar</a>
        </div>
    </div>
</div>