<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
    <!-- <div class="auth-box"> -->

    <!-- </div> -->
    <div class="col-md-2"></div>
    <div class="col-md-8">
        
    </div>
    <div class="col-md-2"></div>
    <div class="card mt-3 text-center">
        <div class="card-body">
            <h1 class="card-title">Bienvenidos, <br> al sistema de cursos del IMSS</h1>
            <span class=""><img style="height: 150px; width: 70%;" src="../../assets/images/big/bienvenidos.gif"
                    alt="logo" /></span>
            <p class="card-text"></p>
            <div id="loginform">
                <div class="logo">
                    <h3 class="font-medium mb-3">Inicia sesión</h3>
                </div>
                <!-- Form -->
                <div class="row">
                    <div class="col-12">
                        <form class="form-horizontal mt-3" id="loginform" action="index.html">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-email"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" name="usuarioCorreo"
                                    id="usuarioCorreo" placeholder="Correo" aria-label="Correo"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" name="usuarioPassword"
                                    id="usuarioPassword" placeholder="Contraseña" aria-label="Contraseña"
                                    aria-describedby="basic-addon1">
                            </div>
                            <div class="form-group text-center">
                                <div class="col-xs-12 pb-3">
                                    <button class="btn btn-block btn-lg btn-info" type="submit">Entrar</button>
                                </div>
                            </div>
                            <div class="form-group mb-0 mt-2">
                                <div class="col-sm-12 text-center">
                                    No tienes cuenta? <a href="registrar_godlikefish.html"
                                        class="text-info ml-1"><b>Registrarse</b></a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>