<div class="container-fluid">
    <!--Titulo-->
    <div class="row">
        <div class="col sm-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1>Bienvenido <span class="small"> Ponente</span></h1>
                    <p>Aqui encontraras un resumen del estado de tus cursos, alumnos y asignaciones.</p>
                </div>
            </div>
        </div>
    </div>
    <!--Tarjetas de resumen-->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card bg-info">
                <div class="d-flex flex-row">
                    <div class="p-10">
                        <h3 class="text-white box mb-0"><i class="fas fa-book"></i></h3>
                    </div>
                    <div class="text-white align-self-center p-10">
                        <h3 class="mb-0">12</h3>
                        <span class="text-white">Cursos Impartidos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card bg-success">
                <div class="d-flex flex-row">
                    <div class="p-10">
                        <h3 class="text-white box mb-0"><i class="fab fa-leanpub"></i></h3>
                    </div>
                    <div class="text-white align-self-center p-10">
                        <h3 class="mb-0">4</h3>
                        <span class="text-white">Cursos Activos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card bg-inverse">
                <div class="d-flex flex-row">
                    <div class="p-10">
                        <h3 class="text-white box mb-0"><i class="fas fa-users"></i></h3>
                    </div>
                    <div class="text-white align-self-center p-10">
                        <h3 class="mb-0">40</h3>
                        <span class="text-white">Alumnos Activos</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card bg-cyan">
                <div class="d-flex flex-row">
                    <div class="p-10">
                        <h3 class="text-white box mb-0"><i class="fas fa-graduation-cap"></i></h3>
                    </div>
                    <div class="text-white align-self-center p-10">
                        <h3 class="mb-0">240</h3>
                        <span class="text-white">Usuarios Alcanzados</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fab fa-leanpub mr-2"></i>Mis Cursos <span class="small">
                                    (4)</span></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="card ">
                                        <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                            alt="imagen curso 1">
                                        <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum <span
                                                class="small">( 7:30 - 9:30 )</span></h5>
                                        <div class="text-center">
                                            <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40</h6>
                                        </div>
                                        <div class="div no-block text-center">
                                            <span class="mb-3 label label-rounded bg-info">Area</span>
                                            <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                            <span class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="/ponente/consultarCursoPEI"
                                                class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                    class="fas fa-external-link-square-alt mr-2"></i>Ver detalles</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card ">
                                        <img src="../../assets/images/cursoImg2.JPG" class="rounded"
                                            alt="imagen curso 1">
                                        <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum <span
                                                class="small">( 9:30 - 11:30 )</span></h5>
                                        <div class="text-center">
                                            <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40</h6>
                                        </div>
                                        <div class="div no-block text-center">
                                            <span class="mb-3 label label-rounded bg-info">Area</span>
                                            <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                            <span class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="/ponente/consultarCursoPEI"
                                                class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                    class="fas fa-external-link-square-alt mr-2"></i>Ver detalles</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card ">
                                        <img src="../../assets/images/cursoImg3.JPG" class="rounded"
                                            alt="imagen curso 1">
                                        <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum <span
                                                class="small">( 12:30 - 14:30 )</span></h5>
                                        <div class="text-center">
                                            <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40</h6>
                                        </div>
                                        <div class="div no-block text-center">
                                            <span class="mb-3 label label-rounded bg-info">Area</span>
                                            <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                            <span class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="/ponente/consultarCursoPEI"
                                                class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                    class="fas fa-external-link-square-alt mr-2"></i>Ver detalles</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="card ">
                                        <img src="../../assets/images/cursoImg4.JPG" class="rounded"
                                            alt="imagen curso 1">
                                        <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum <span
                                                class="small">( 15:30 - 17:30 )</span></h5>
                                        <div class="text-center">
                                            <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40</h6>
                                        </div>
                                        <div class="div no-block text-center">
                                            <span class="mb-3 label label-rounded bg-info">Area</span>
                                            <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                            <span class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                        </div>
                                        <div class="card-body text-center">
                                            <a href="/ponente/consultarCursoPEI"
                                                class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                    class="fas fa-external-link-square-alt mr-2"></i>Ver detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><i class="fas fa-align-justify mr-2"></i>Cursos Inactivos<span
                                    class="small"> (8)</span></h3>
                            <hr>
                            <div id="cursosCarrusel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#cursosCarrusel" data-slide-to="0" class="active"></li>
                                    <li data-target="#cursosCarrusel" data-slide-to="1"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg2.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg3.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg4.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card ">
                                                    <img src="../../assets/images/cursoImg1.JPG" class="rounded"
                                                        alt="imagen curso 1">
                                                    <h5 class="mt-3 ml-2 mr-2">Nombre Completo Curso Lorem Ipsum</h5>
                                                    <div class="text-center">
                                                        <h6 class="text-muted"><i class="fas fa-users mr-2"></i>38/40
                                                        </h6>
                                                    </div>
                                                    <div class="div no-block text-center">
                                                        <span class="mb-3 label label-rounded bg-info">Area</span>
                                                        <span class="mb-3 label label-rounded label-warning">Tipo</span>
                                                        <span
                                                            class="mb-3 label label-rounded bg-danger">Modalidad</span>
                                                    </div>
                                                    <div class="card-body text-center">
                                                        <a href="/ponente/consultarCursoPEII"
                                                            class="btn waves-effect waves-light btn-rounded btn-sm btn-success small"><i
                                                                class="fas fa-external-link-square-alt mr-2"></i>Ver
                                                            detalles</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#cursosCarrusel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#cursosCarrusel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><i class="fas fa-pencil-alt mr-2"></i>Asignaciones por Revisar <span
                            class="small"> (7)</span></h3>
                    <hr>
                </div>
                <!-- Tabs de asignaciones
                            <ul class="nav nav-tabs" id="asignaciones" role="tablist">
                                <li class="nav-item"> 
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#todas" role="tab" aria-controls="todas" aria-expanded="true">
                                        <span class="hidden-sm-up"><i class="fas fa-align-justify"></i></span> 
                                        <span class="hidden-xs-down">Todas</span>
                                    </a> 
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false">
                                        <span class="hidden-sm-up"><i class="fas fa-filter"></i></span> 
                                        <span class="hidden-xs-down">Filtrar</span>
                                    </a>
                                    <div class="dropdown-menu"> 
                                        <a class="dropdown-item" id="dropdown1-tab" href="#cursoUno" role="tab" data-toggle="tab" aria-controls="dropdown1">Nombre Curso Activo</a> 
                                        <a class="dropdown-item" id="dropdown2-tab" href="#cursoDos" role="tab" data-toggle="tab" aria-controls="dropdown2">Nombre Curso Activo Dos</a>
                                        <a class="dropdown-item" id="dropdown2-tab" href="#cursoTres" role="tab" data-toggle="tab" aria-controls="dropdown2">Nombre Curso Activo Tres</a>
                                        <a class="dropdown-item" id="dropdown2-tab" href="#CursoCuatro" role="tab" data-toggle="tab" aria-controls="dropdown2">Nombre Curso Activo Cuatro</a> 
                                    </div>
                                </li>
                            </ul>
                            <div class="tab-content tabcontent-border p-20" id="asignacionesContent">
                                <div role="tabpanel" class="tab-pane fade show active" id="todas" aria-labelledby="home-tab">
                                    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
                                </div>
                                <div class="tab-pane fade" id="dropdown1" role="tabpanel" aria-labelledby="dropdown1-tab">
                                    <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
                                </div>
                                <div class="tab-pane fade" id="dropdown2" role="tabpanel" aria-labelledby="dropdown2-tab">
                                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                                </div>
                            </div> -->
                <div class="comment-widgets scrollable ps-container ps-theme-default ps-active-y" style="height:598px;"
                    data-ps-id="96370757-1752-5407-955d-d2618da54798">
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Completo Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-info mr-2">Abierta</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            15/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Completo Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-info mr-2">Abierta</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            15/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-danger mr-2">Cerrada</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            20/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-danger mr-2">Cerrada</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            20/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-danger mr-2">Cerrada</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            20/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-danger mr-2">Cerrada</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            20/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row comment-row mt-0">
                        <div class="comment-text w-100">
                            <div class="row">
                                <div class="col-9">
                                    <h4><i class="fas fa-bookmark mr-2"></i>Nombre Asignación Lorem ipsum</h4>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="mb-3 label  label-danger mr-2">Cerrada</span>
                                </div>
                            </div>
                            <h4><span class="small"> Nombre Completo Curso Lorem ipsum</span></h4>
                            <p class="ml-3">Pequeño fragmento de la descripción de la asignación, cortar con text
                                truncation o algun otro método...</p>
                            <div class="comment-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <h5 class="font-light float-left mt-2">Fecha Cierre: <i
                                                class="fas fa-calendar-alt ml-2"></i> 08/05/2021 <i
                                                class="fas fa-clock"></i> 24:59</h5>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="font-light float-left mt-2"> Entregas: <i class="fas fa-users"></i>
                                            12/20</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                        <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px; height: 0px;">
                        <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>