<div class="container-fluid">
    <div class="row">
        <!--primera columna-->
        <div class="col-md-12">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6"><h3 class="card-title"><i class="fas fa-users mr-2"></i>Usuarios Registrados <span class="small"> en el Sistema</span></h3></div>
                        <div class="col-md-6 text-right align-items-end mt-auto">
                            <h4 class="font-light">(400) Registrados (358) Activos (42) Inactivos</h4>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs mt-3" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" style="color: rgb(62, 85, 105);" href="#tabla" role="tab">
                            <i class="fas fa-table mr-2"></i>Vista tabla</a> 
                        </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" style="color: rgb(62, 85, 105);" href="#tarjeta" role="tab">
                            <i class="fas fa-id-card-alt mr-2"></i>Vista Tarjeta</a> 
                        </li> 
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active" id="tabla" role="tabpanel">
                            <div class="table-responsive p-20">
                                <table id="file_export" class="table table-striped table-bordered display">
                                    <thead>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Edad</th>
                                            <th>Antigüedad</th>
                                            <th>Area</th>
                                            <th>Puesto</th>
                                            <th>Rol</th>
                                            <th>Reconocimientos</th>
                                            <th>Cursando</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Nombres Del Usuario</td>
                                            <td>Apellidos del usuario Lorem</td>
                                            <td>31</td>
                                            <td>30 años</td>
                                            <td>Médica</td>
                                            <td>Supervisor</td>
                                            <td>Estudiante</td>
                                            <td>2</td>
                                            <td><span class="label label-info"><i class="far fa-smile mr-2"></i>Si</span></td>
                                            <td>
                                                <a href="#" class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                    <i class="far fa-user mr-1"></i> Ver Perfil</a></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Nombres Del Usuario</td>
                                            <td>Apellidos del usuario Lorem</td>
                                            <td>31</td>
                                            <td>30 años</td>
                                            <td>Médica</td>
                                            <td>Supervisor</td>
                                            <td>Estudiante</td>
                                            <td>8</td>
                                            <td><span class="label label-danger"><i class="far fa-frown mr-2"></i>No</span></td>
                                            <td>
                                                <a href="#" class="btn waves-effect waves-light btn-rounded btn-sm btn-success small">
                                                    <i class="far fa-user mr-1"></i> Ver Perfil</a></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Nombres</th>
                                            <th>Apellidos</th>
                                            <th>Edad</th>
                                            <th>Antigüedad</th>
                                            <th>Area</th>
                                            <th>Puesto</th>
                                            <th>Rol</th>
                                            <th>Reconocimientos</th>
                                            <th>Cursando</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane  p-20" id="tarjeta" role="tabpanel">
                            <div class="row">
                                <div class="input-group mb-3">
                                    <input id="BuscarPonente" name="BuscarPonente" type="text"
                                        class="form-control" placeholder="Buscar" aria-label=""
                                        aria-describedby="basic-addon1">
                                    <div class="input-group-append">
                                        <button id="buscarPonente" name="buscarPonente"
                                            class="btn btn-success" type="button">
                                            <i class="ti-search"></i></button> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="row el-element-overlay">
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><!--Usar este para el each, los otros no tienen formato chido-->
                                        <div class="card">
                                            <div class="el-card-item" class="modal-footer"
                                                data-toggle="modal" data-target="#responsive-modal">
                                                <div class="el-card-avatar el-overlay-1"> 
                                                    <img src="../../assets/images/users/1-old.jpg" alt="user"/>
                                                    <div class="el-overlay">
                                                        <ul class="list-style-none el-info">
                                                            <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                                                href="../../assets/images/users/1-old.jpg"></a>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h4 class="mb-0">Nombres Usuario</h4>
                                                    <span d="UsuarioArea" name="UsuarioArea" class="text-muted">Puesto Usuario</span>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>