<div class="container-fluid">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-5 align-self-center">
                <h4 class="page-title">Ponentes Registrados</h4>
                <br>
                <div class="input-group mb-3">
                    <input id="BuscarPonente" name="BuscarPonente" type="text" class="form-control" placeholder="Buscar"
                        aria-label="" aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button id="buscarPonente" name="buscarPonente" class="btn btn-success" type="button"><i
                                class="ti-search"></i></button>
                        <!--/div>
                                <div>
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item"> <a class="nav-link show" data-toggle="tab" href="#home" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Tarjeta de Ponentes</span></a> </li>
                                    <li class="nav-item"> <a class="nav-link show" data-toggle="tab" href="#profile" role="tab" aria-selected="false"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Tabla de Ponentes</span></a> </li>
                                </ul></div-->
                    </div>
                    <!--div id="BuscarPonente" name="BuscarPonente" id="cc-table_filter" class="dataTables_filter" class="input-group-append"><label><input type="Buscar" class="form-control form-control-sm" placeholder="Buscar" aria-controls="cc-table"></label-->
                    <!--button id="BtnVerListaPonentes" name="BtnVerListaPonentes" class="btn btn-info" type="button" class="modal-footer" data-toggle="modal" data-target="#responsive-modal" > Ver ponentes en lista <i class="fas fa-list"></i></button-->

                    <!-- ============================================================== -->
                    <!-- MODAL VER  -->
                    <!-- ============================================================== -->

                    <div id="ModalVerPerfilPonente" name="ModalVerPerfilPonente" class="card">
                        <!-- sample modal content -->
                        <div id="responsive-modal" name="ModalVerPonente" class="modal fade" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <button id="cerrarModal" name="cerrarModal" type="button" class="close"
                                            data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Perfil del Ponente</h4>
                                        <br>
                                        <section>
                                            <div class="row">
                                                <div class="col-md-4" style="text-align:center">
                                                    <div class="form-group ">
                                                        <img id="usuarioFoto" name="usuarioFoto"
                                                            src="../../assets/images/users/5.jpg"
                                                            alt="Foto de perfil del ponente" class="rounded-circle"
                                                            width="120">
                                                        <p></p>


                                                        <div class="col-md-12">

                                                            <label id="usuarioMatricula" name="usuarioMatricula"
                                                                for="wemailAddress2" class="card-subtitle"> Matricula
                                                                SNTSS <span class="danger"></span> </label>
                                                            <h4 class="card-title mt-2">01548551</h4>
                                                        </div>
                                                        <div class="col-md-12">

                                                            <label id="userFechaNacimiento" name="userFechaNacimiento"
                                                                for="wdate2" class="card-subtitle">Facha de
                                                                Nacimiento</label>
                                                            <h4 class="card-title mt-2">30/07/1990</h4>
                                                        </div>
                                                        <div class="col-md-12">

                                                            <labeldi="UsuarioEdad" name="UsuarioEdad"
                                                                class="card-subtitle"> Edad </label>
                                                                <h4 class="card-title mt-2">30</h4>

                                                        </div>
                                                    </div>
                                                </div>
                                                <p></p>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="card-subtitle" class="mt-3"> Nombre(s)</label>
                                                        <h4 class="card-title mt-2">Henrry Gover</h4>

                                                        <label class="card-subtitle" class="mt-3"> Primer
                                                            Apellido</label>
                                                        <h4 class="card-title mt-2">Alvarez</h4>

                                                        <label class="card-subtitle" class="mt-3"> Segundo Apellido
                                                        </label>
                                                        <h4 class="card-title mt-2">Ferreyra</h4>

                                                        <label for="wdate2" class="card-subtitle" class="mt -3"> Lugar
                                                            de Nacimiento</label>
                                                        <h4 class="card-title mt-2">Morelia</h4>

                                                        <label class="card-subtitle" class="mt -3"> Matricula de Ponente
                                                        </label>
                                                        <h4 class="card-title mt-2">P0165461</h4>

                                                    </div>
                                                    <div>
                                                        <br>
                                                        <button id="EditarPonente" name="EditarPonente" type="button"
                                                            class="btn btn-default waves-effect">Editar</button>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="row">
                                    </div>
                                    </section>
                                </div>
                                <div>
                                    <!-- <div class="card" >-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="TarjetaPonente" name="TarjetaPonente" class="container-fluid">
        <div class="row el-element-overlay">
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/1-old.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/1-old.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Oliver Abram</h4> <span id="UsuarioArea" name="UsuarioArea"
                                class="text-muted">Graphics Designer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/2.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/2.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">George Acton</h4> <span class="text-muted">Wordpress Developer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/3.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/3.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Harry Addington</h4> <span class="text-muted">Mobile App Developer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/4.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/4.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Emily Adley</h4> <span class="text-muted">Wordpress Developer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/8.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/8.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Sophia Ainsley</h4> <span class="text-muted">Mobile App Developer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/7.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/7.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Lily Ainsworth</h4> <span class="text-muted">Graphics Designer</span>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/6.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/6.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Olivia Alby</h4> <span class="text-muted">Mobile App Developer</span>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item" class="modal-footer" data-toggle="modal" data-target="#responsive-modal">
                        <div class="el-card-avatar el-overlay-1"> <img src="../../assets/images/users/d4.jpg"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <a class="btn default btn-outline image-popup-vertical-fit el-link"
                                        href="../../assets/images/users/d4.jpg"></a>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="mb-0">Amelia Allerton</h4> <span class="text-muted">Wordpress Developer</span>
                            <br>
                            <td><a href="javascript:void(0)" class="text-inverse pr-2" data-toggle="tooltip"
                                    title="Ver"><i class="mr-2 mdi mdi-eye"></i></a> <a href="javascript:void(0)"
                                    class="text-inverse pr-2" data-toggle="tooltip" title="Editar"><i
                                        class="ti-marker-alt"></i></a> <a href="javascript:void(0)" class="text-inverse"
                                    title="Borrar" data-toggle="tooltip"><i class="ti-trash"></i></a></td>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>