<div class="main-wrapper">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
        style="background-color: rgb(230, 230, 230);">
        <div class="card mt-3 text-center"
            style="border-radius: 10px; box-shadow: 2px 2px 5px rgba(197, 187, 197, 0.808) ">
            <div class="card-body">
                <h2 class="card-title mb-4">Reestablecer Contraseña</h2>
                <p>Establece una nueva contraseña para tu cuenta llenando los campos:</p>
                <form action="#" method="#">
                    <div class="form-group mb-3">
                        <h4>Nueva contraseña</h4>
                        <input class="form-control form-control-lg" type="password" required=" "
                            placeholder="Escribe la nueva contraseña " alt="Escribe la contraseña nueva"
                            id="usuarioPasswordNueva" name="usuarioPasswordNueva">
                    </div>
                    <div class="form-group mb-3">
                        <h4>Confirmar nueva contraseña</h4>
                        <input class="form-control form-control-lg" type="password" required=" "
                            placeholder="Vuelve a escribir la contraseña" alt="Confirma tu contraseña nueva"
                            id="usuarioPasswordConfirmar" name="usuarioPasswordConfirmar">
                    </div>
                    <div class="form-group text-right">
                        <button type="button" id="GuardarPasswordNueva" class="btn btn-info waves-effect text-left"
                            data-dismiss="modal"><i class="fas fa-save mr-2"></i>Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Login box.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper scss in scafholding.scss -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right Sidebar -->
    <!-- ============================================================== -->
</div>