<div class="auth-wrapper d-flex no-block justify-content-center align-items-center"
    style="background-color: rgb(230, 230, 230);">
    <div class="card mt-3 text-center" style="border-radius: 10px; box-shadow: 2px 2px 5px rgba(197, 187, 197, 0.808) ">
        <div class="card-body">
            <h2 class="card-title mb-4">Reestablecer Contraseña</h2>
            <p>Establece una nueva contraseña para tu cuenta llenando los campos:</p>
            <form action="reestablecerContrasenia" method="post">
                <div class="form-group mb-3">
                    <h4>Nueva contraseña</h4>
                    <input class="form-control form-control-lg" type="password" 
                        placeholder="Escribe la nueva contraseña " alt="Escribe la contraseña nueva"
                        id="usuarioPasswordNueva" name="usuarioPasswordNueva" required>
                </div>
                <div class="form-group mb-3">
                    <h4>Confirmar nueva contraseña</h4>
                    <input class="form-control form-control-lg" type="password"
                        placeholder="Vuelve a escribir la contraseña" alt="Confirma tu contraseña nueva"
                        id="usuarioPasswordConfirmar" name="usuarioPasswordConfirmar" required>
                </div>
                <div class="form-group text-right">
                    <button type="submit" id="GuardarPasswordNueva" class="btn btn-info waves-effect text-left">
                        <i class="fas fa-save mr-2"></i>Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>