<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="title text-center">Soporte</h2>
                    <p>En esta sección encontraras las soluciones a los problemas mas comúnes.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                            <div data-target="#list-example" data-offset="0" class="position-relative mt-2">
                                <h3 class="mt-3">Preguntas comunes</h3>
                                <div id="accordian-part">
                                    <div id="accordian-4">
                                        <div class="card mb-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <a href="#" class="collapsed link" id="heading1"
                                                        data-toggle="collapse" data-target="#collapse11"
                                                        aria-expanded="false" aria-controls="collapse11">
                                                        ¿Como puedo cambiar mi contraseña?
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse11" class="collapse" aria-labelledby="heading1"
                                                data-parent="#accordian-4">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                                    put a bird on it squid single-origin coffee nulla assumenda
                                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                                    wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                    excepteur butcher vice lomo. Leggings occaecat craft beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <a href="#" class="collapsed link" id="heading2"
                                                        data-toggle="collapse" data-target="#collapse22"
                                                        aria-expanded="false" aria-controls="collapse22">
                                                        No puedo ver mis tareas
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse22" class="collapse" aria-labelledby="heading2"
                                                data-parent="#accordian-4">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                                    put a bird on it squid single-origin coffee nulla assumenda
                                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                                    wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                    excepteur butcher vice lomo. Leggings occaecat craft beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <a href="#" class="collapsed link" id="heading3"
                                                        data-toggle="collapse" data-target="#collapse33"
                                                        aria-expanded="false" aria-controls="collapse33">
                                                        No se envia mi tarea
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse33" class="collapse" aria-labelledby="heading3"
                                                data-parent="#accordian-4">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                                    put a bird on it squid single-origin coffee nulla assumenda
                                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                                    wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                    excepteur butcher vice lomo. Leggings occaecat craft beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-3">Guias de ayuda</h3>
                                <div id="accordian-part">
                                    <div id="accordian-4">
                                        <div class="card mb-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <a href="#" class="collapsed link" id="heading4"
                                                        data-toggle="collapse" data-target="#collapse44"
                                                        aria-expanded="false" aria-controls="collapse44">
                                                        Enviar una tarea
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse44" class="collapse" aria-labelledby="heading4"
                                                data-parent="#accordian-4">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                                    put a bird on it squid single-origin coffee nulla assumenda
                                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                                    wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                    excepteur butcher vice lomo. Leggings occaecat craft beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card mb-0">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <a href="#" class="collapsed link" id="heading5"
                                                        data-toggle="collapse" data-target="#collapse55"
                                                        aria-expanded="false" aria-controls="collapse55">
                                                        Reportar un problema
                                                    </a>
                                                </h5>
                                            </div>
                                            <div id="collapse55" class="collapse" aria-labelledby="heading5"
                                                data-parent="#accordian-4">
                                                <div class="card-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                                    accusamus terry richardson ad squid. 3 wolf moon officia aute,
                                                    non cupidatat skateboard dolor brunch. Food truck quinoa
                                                    nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                                    put a bird on it squid single-origin coffee nulla assumenda
                                                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore
                                                    wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                                    excepteur butcher vice lomo. Leggings occaecat craft beer
                                                    farm-to-table, raw denim aesthetic synth nesciunt you probably
                                                    haven't heard of them accusamus labore sustainable VHS.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="mt-3">Contactanos</h3>
                                <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis.
                                    Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute
                                    tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit
                                    fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
                                <h3 class="mt-3">Sobre nosotros</h3>
                                <p>Quis anim sit do amet fugiat dolor velit sit ea ea do reprehenderit culpa duis.
                                    Nostrud aliqua ipsum fugiat minim proident occaecat excepteur aliquip culpa aute
                                    tempor reprehenderit. Deserunt tempor mollit elit ex pariatur dolore velit
                                    fugiat mollit culpa irure ullamco est ex ullamco excepteur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>