<div class="container-fluid">
    {{!-- modales --}}
    <div id="reportarProblema" class="modal">
        <div class="modal-dialog">
            <div class="modal-content" style="border-radius: 10px">
                <div class="card-body">
                    <div class="row">
                        <!--titulo-->
                        <div class="col-md-3"></div>
                        <div class="col-md-6 text-center">
                            <h4>Reportar problema</h4>
                        </div>
                        <div class="col-md-3 text-right">
                            <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">×</button>
                        </div>
                        <!--contenido-->
                        {{#if estudiante}}
                        <form action="/estudiante/reportarProblemaUsuario" method="POST">
                        {{else}}
                        <form action="/ponente/reportarProblemaUsuario" method="POST">
                        {{/if}}
                            <div class="col-md-12 mt-2">
                                <h6 class="mb-0 font-medium mt-2"><i class="fas fa-highlighter mr-2"></i>Asunto del problema </h6>
                                <input class="form-control form-control-lg font-14" type="text" alt="Asunto del problema"
                                    placeholder="Escribe el asunto del problema" name="asuntoProblema" autocomplete="off">
                            </div>
                            <div class="col-md-12 mt-2">
                                <h6 class="mb-0 font-medium mt-2"><i class="fas fa-signature mr-2"></i>Descripcion</h6>
                                <textarea class="col-sm-12 col-md-12 col-lg-12 font-14" name="descripcionProblema"
                                    placeholder="Describe la situacion del problema" cols="60" rows="4"></textarea>
                            </div>
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-info waves-effect text-left mt-1"><i class="fas fa-paper-plane mr-2"></i>Enviar reporte</button>
                                <button type="button" class="btn btn-secondary mt-1" data-dismiss="modal"> <i class="fas fa-times mr-2"></i>Cancelar</button>
                            </div>
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    {{!-- terminan modales --}}
    <div class="row">
        <!--primera columna-->
        <div class="col-md-4">
            <div class="row">
                <div class="col-md 12">
                    <div class="card" style="border-radius: 10px">
                        <div class="card-body text-center">
                            <img class="mb-0" src="../../assets/images/logoTransparencia10.svg" width="150px" alt="logoDelSistema">
                            <h3 class="font-light mt-0" >¿Tienes un problema?</h3>
                            <p>Aqui encontrarás información sobre los problemas más comúnes, si esto no te ayuda ponte en contacto con nosotros.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="nav flex-column nav-pills text-right" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active show" id="v-pills-home-tab" data-toggle="pill" href="#contrasenia" role="tab" aria-controls="v-pills-home" aria-selected="true">Contraseña y acceso a cuenta</a>
                                <a class="nav-link show" id="v-pills-profile-tab" data-toggle="pill" href="#codigosVerificacion" role="tab" aria-controls="v-pills-profile" aria-selected="false">Códigos de Verificación</a>
                                <a class="nav-link show" id="v-pills-settings-tab" data-toggle="pill" href="#contacto" role="tab" aria-controls="v-pills-settings" aria-selected="false">Contacto</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <!-- cuerpo -->
        <div class="col-md-8">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade active show" id="contrasenia" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Contraseña y acceso a cuenta</h3><hr>
                                    <h4 class="card-title"><i class="fas fa-key mr-2"></i>¿Cómo cambiar mi contraseña?</h4>
                                    <p style="text-align: justify;">Para cambiar tu contraseña dirigete a "Mi Perfil", encontrarás esta sección en la esquina superior derecha de la pantalla, debes hacer clic en tu imagen de perfil, esto desplegará un menú donde encontrarás la opción.</p>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="card-title"><i class="fas fa-at mr-2"></i>¿Cómo cambiar mi dirección correo electrónico?</h4>
                                    <p style="text-align: justify;">Para cambiar tu dirección de correo electrónico dirigete a "Mi Perfil", encontrarás esta sección en la esquina superior derecha de la pantalla, debes hacer clic en tu imagen de perfil, esto desplegará un menú donde encontrarás la opción.</p>
                                </div>
                                <div class="col-md-4 text-center">
                                    <img src="../../assets/images/ojosTristes.svg" width="150px" alt="logoDelSistema">
                                </div>
                                <div class="col-md-8 text-center">
                                    <h4 class="card-title text-left"><i class="fas fa-exclamation-triangle mr-2"></i>Detectas actividad inusual de tu cuenta</h4>
                                    <p style="text-align: justify;">¿Tienes razones para sospechar un acceso no autorizado a tu cuenta?</p>
                                    <p style="text-align: justify;">Cambia las credenciales de acceso: correo electrónico y contraseña, si tienes problemas con tus credenciales ponte en contacto con nosotros a través de:</p>
                                    <a href="" type="button" class="btn btn-danger" data-toggle="modal" data-target="#reportarProblema">
                                        <i class="fas fa-exclamation-triangle mr-2" aria-hidden="true"></i>Reportar un Problema</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="codigosVerificacion" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Códigos de verificación</h3><hr>
                                    <h4 class="card-title"><i class="fas fa-laptop-code mr-2"></i>¿Que son los códigos de verificación?</h4>
                                    <p style="text-align: justify;">Los códigos de verificación son un método de autenticación a través del cual podemos asegurarnos de que realmente eres tu quien esta haciendo algunos cambios. Son cadenas de texto que enviamos a tu correo para verificar que eres tu.</p>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="card-title"><i class="fas fa-search mr-2"></i>¿No encuentras tu código de verificación?</h4>
                                    <p style="text-align: justify;">Ingresa a tu correo electrónico, el mismo que utilizas para ingresar al sistea, busca en tu bandeja de entrada el mensaje "Código de verifiación SNTSS Kaanbal", si no lo encuentras revisa la carpeta de spam.</p>
                                </div>
                                <div class="col-md-12">
                                    <h4 class="card-title"><i class="fas fa-ghost mr-2"></i>¿Que pasa si perdí mi código de verificación?</h4>
                                    <p style="text-align: justify;">Si has perdido tu código de verifiación no pasa nada, siempre podrás volver a solicitar otro al inicio de cualquier proceso como puede ser el cambio de contraseña o correo electrónico. Inicia el proceso nuevamente, te enviaremos un código nuevo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contacto" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3>Contacto</h3><hr>
                                    <h4 class="card-title"><i class="fas fa-mail-bulk mr-2"></i>Contacto por problemas con el sistema</h4>
                                    <p style="text-align: justify;">Si tienes un problema con alguna página en el sistema SNTSS Kaanbal utiliza las secciones "Reportar un problema" que encontrarás en las diferentes páginas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>